.progress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 3rem;
    overflow: hidden;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: .25rem;
    border:solid 0.5px;
}